<div>
    <h1>Currently working on...</h1>
</div>

{% assign current_projects = site.projects | where_exp: "project", "project.current_project" %}
{% assign project = current_projects | sort: "order" | reverse | first %}

{% if project %}
<div class="current-project-container">
    <article class="current-project">
        <h2>{{ project.title }}</h2>
        <div class="current-project-body">
            <div class="current-project-media">
                {% if project.youtube_embed %}
                <iframe
                    src="{{ project.youtube_embed }}"
                    title="{{ project.title }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                {% elsif project.thumbnail %}
                <img src="{{ project.thumbnail | relative_url }}" alt="{{ project.title }}">
                {% endif %}
            </div>

            <div class="current-project-description">
                <div class="excerpt">
                    {{ project.excerpt }}
                </div>
            </div>
        </div>
    </article>
</div>
{% endif %}
<br><br>
