<div>
    <h1>Links</h1>
</div>
    <ul>
        <li><h3><a href="https://github.com/{{ site.github_username }}" style="color: #0074d9; text-decoration: none;">Github</a></h3>{{ site.data.links.github_description }}</li>
        <li><h3><a href="https://github.com/{{ site.github_username }}" style="color: #0074d9; text-decoration: none;">Blog</a></h3>{{ site.data.links.blog_description }}</li>
        <li><h3>Email</h3>{{ site.data.links.email_description }}</li>
    
        <!-- <li><h3><a href="https://github.com/{{ site.github_username }}" style="color: #0074d9; text-decoration: none;">BOJ</a></h3>{{ site.data.links.boj_description }}</li> -->
    </ul>
</div>