<div>
    <h1>Projects</h1>
</div>
<div class="contents">
    {% assign main_projects = site.projects | where_exp: "project", "project.main_post" %}
    {% assign sorted_projects = main_projects | sort: "order" | reverse %}
    {% for project in sorted_projects %}
    <article class="content">
        <a href="{{ project.url | relative_url }}">
            <h2>{{ project.title }}</h2>
            <img src="{{ project.thumbnail | relative_url }}">
            <div class="excerpt">
                    {{ project.excerpt }}
            </div>
        </a>
    </article>
    {% endfor %}
</div>
<br><br>
